</body>
<script src="stylesheet/material-kit-master/assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="stylesheet/material-kit-master/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="stylesheet/material-kit-master/assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="stylesheet/material-kit-master/assets/js/plugins/moment.min.js"></script>
</html>