<%-include ./partials/header.ejs%>
<h4>Live Score</h4>
<a href="/matches">View Matches</a>
<!-- </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    // $.ajax({
    //   url:
    //     "https://rest.cricketapi.com/rest/v2/recent_matches/?access_token=2s1115615224762863633s1115977913070668973",
    //   type: "GET",
    //   dataType: "json",
    //   crossDomain: true,
    //   success: result => {
    //     console.log(result);
    //   }
    // });
  </script>
</html> -->
<%-include ./partials/footer.ejs%>
